<%- include("header") -%>
    <h2>This is about page.</h2>
    <p>This is the best to-do List made by Bhanudatsinh Jhala. Thank you for visiting. Have a nice day ahead.</p>
    <%- include("footer") -%>